<div class="content">
	
	<div class="left-panel">
	</div>


	<div class="about">

		<hr>
		<h1>About project</h1>
		<hr>

		<div class="well">

			<p>Author: <a href="https://github.com/jozefzatko/"><b>Jozef Zaťko</b> </a> </p>
			<hr>
			
			
			<h2>Application description</h2>
			
			<ul class="bullets">
				<li>Showing lakes, rivers and reservoirs for selected country with detailed information about them</li>
				<li>Showing lakes, rivers and reservoirs for selected ecoregion</li>
				<li>Showing country and ecoregion for selected river, lake or reservoir</li>
			</ul>
			<hr>
			
			
			<h2>Data source</h2>
			<ul class="bullets">
				<li><a href="http://www.naturalearthdata.com/downloads/50m-cultural-vectors/50m-admin-0-countries-2/">Borders of World Countries</a></li>
				<li><a href="https://www.worldwildlife.org/publications/global-lakes-and-wetlands-database-large-lake-polygons-level-1">Global Lakes and Wetlands Database - Level 1</a></li>
				<li><a href="http://www.worldwildlife.org/publications/global-lakes-and-wetlands-database-small-lake-polygons-level-2">Global Lakes and Wetlands Database: Small Lake Polygons - Level 2</a></li>
				<li><a href="http://www.feow.org/">Freshwater Ecoregions of the World</a></li>
			</ul>
			<hr>
			
			
			<h2>Technologies used</h2>
			<ul class="bullets">
				<li><a href="http://rubyonrails.org/">Ruby on Rails (v4.2.4)</a></li>
				<li><a href="http://mapbox.com">Mapbox (v2.2.2)</a></li>
				<li><a href="http://www.postgresql.org/">PostgreSQL (v9.3)</a></li>
				<li><a href="http://postgis.net/">PostGIS (v2.2)</a></li>
				<li><a href="http://www.gdal.org/ogr2ogr.html">ogr2ogr</a></li>
				<li><a href="http://mapshaper.org/">mapshaper</a></li>
			</ul>
			<hr>
			
			
			<h2>Source code</h2>
			<a href="https://github.com/jozefzatko/assignment-gis-jozefzatko/tree/master/gis_rails_app">https://github.com/jozefzatko/assignment-gis-jozefzatko/tree/master/gis_rails_app</a> 

		</div>

	</div>

</div>
