<div class="home">
	
	<%= image_tag "background.jpg", :height => "100%", :width => "100%" %>
	
	
	<div class="left-button">
		<%= button_to " Explore Lakes, Reservoirs and Rivers ", freshwaters_path, :method => "get" %>
	</div>
	
	<div class="right-button">
		<%= button_to "Explore Ecoregions of the World", freshwater_ecoregions_path, :method => "get" %>
	</div>

</div>