<div class="freshwater-results">

	<div class="left-header">
		<h2>Results (<%= @freshwaters.count %>)</h2>
	</div>

	<div class="freshwater-result-list">
		<%= render @freshwaters %>
	</div>
	
</div>