<footer class="header">

	<div class="header-nav-area">
		<ul class="header-nav">
							
			<li>	<%= link_to "Home page", 	root_path %>		</li>
			<li>	<%= link_to "About project", 	about_project_path %>	</li>

			<div class="header-info">
				<p>
					<a href="https://github.com/jozefzatko/"><b>Jozef Zaťko</b> </a>
					<a href="https://github.com/fiit-pdt/"><b>PDT 2015</b> </a>
				</p>
			</div>
													
		</ul>

	</div>

</footer>
