<footer class="header">

	<div class="header-nav-area">
		<ul class="header-nav">
							
			<li>	<%= link_to "Home page", 					root_path %>					</li>
			<li>	<%= link_to "Lakes, Reservoirs, Rivers", 	freshwaters_path %>				</li>
			<li>	<%= link_to "Freshwater Ecoregions", 		freshwater_ecoregions_path %>	</li>
			
			<li>	<a href="https://github.com/jozefzatko/assignment-gis-jozefzatko">About project</a></li>

			<div class="header-info">
				<p>
					<a href="https://github.com/jozefzatko/"><b>Jozef Zaťko</b></a>
					&nbsp &nbsp &nbsp &nbsp &nbsp 
					<a href="https://github.com/fiit-pdt/"><b>PDT &nbsp 2015 / 2016</b></a>
				</p>
			</div>
													
		</ul>

	</div>

</footer>
