<div class="content">
	
	<div class="ecoregion-left-panel">
		<%= render 'to_render/left_panel/results_of_ecoregions' %>
	</div>

	<div class="ecoregion-map">
		<%= render 'to_render/map/map' %>
	</div>

</div>