<div class="content">
	
	<div class="ecoregion-left-panel-narrow">
		<%= render 'to_render/left_panel/ecoregion' %>
	</div>

	<div class="ecoregion-map-wide">
		<%= render 'to_render/map/map' %>
	</div>

</div>
