<div class="content">

	<div class="freshwater-left-panel">
		<%= render 'to_render/left_panel/search_freshwaters' %>		
		<%= render 'to_render/left_panel/results_of_freshwaters' %>
	</div>

	<div class="freshwater-map">
		<%= render 'to_render/map/map' %>
	</div>

</div>
