<div class="content">

	<div class="left-panel">
		<%= render 'to_render/left_panel/search_freshwaters' %>		
		<%= render 'to_render/left_panel/results_of_freshwaters' %>
	</div>
	
	<%= render 'to_render/map/map' %>
	
</div>
