@import "bootstrap";

html, body {

    height: 100%;
	overflow:hidden;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	font-weight: bold;
	color:#000000;
	text-align:center;
}


h2 {
	margin: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight: bold;
	color:#000000;
	text-align:left;
}


.content {

	float:bottom;
	width:100%;
	height:96%;
}


.left-panel {

	float:left;
	width:25%;
	height:100%;
}

.menu {
	background:#fff;
	height:100%;
}


.map {

	float:left;
	width:75%
}


#map {

	position:absolute;
	width:75%;
	height:96%;	
	top:4%;
	bottom:0;
}


.about {

	float:left;
	width:50%;
	height:100%;

	a,p {
		font-size:16px;
	}
}


.header {
	width:100%;
	height: 4%;
	background:#40a4df;
	text-align:center;
	color:#FFFFFF;
	float:left;
}


.header-nav-area {

	background:#40a4df;
}


ul.header-nav {

	padding:8px 40px 0px 40px;
	list-style:none;
	float:center
}


ul.header-nav li {

	padding:0px 30px 0px 30px;
	float:left;
	display:block;
}


ul.header-nav li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	color:#FFFFFF;
	text-align:center;
	font-weight:normal;
}


.header-info a {
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	color:#FFFFFF;
	text-align:right;
	font-weight:normal;
}

.header-info p {
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
	color:#FFFFFF;
	text-align:right;
	font-weight:normal;
}

ul.bullets {
 
    padding:8px 40px 0px 40px;
    
    a, p, li {
        font-size:16px;
    }
}

