
.freshwater-left-panel {

	float: left;
	width: 600px;
	height: 908px;
}


.ecoregion-left-panel {

	float: left;
	width: 860px;
	height: 908px;
}


.freshwater-results {
	
	height: 678px;
	width: inherit;
}


.ecoregion-results {
	height: 878px;
	width: inherit;
}


.search {
	
	background: #ffffff;
	height: 230px;
	width: inherit;
}


.left-header {
	
	width: inherit;
	height: 30px;
	background: #55bbff;
    opacity: 0.8;
    
    h2 {
        color: #ffffff;
        opacity: 1;
        font-size: 18px;
		padding: 6px 0px 0px 11px;
    }
}
