
.left-button {
  position: absolute;    
  left: 10%;
  top: 80%;
  color: #354567;
  background: #d3e6ed;
  font: normal 42px arial, sans-serif;
  text-decoration: none;
  opacity: 0.7;  
}


.right-button {
  position: absolute;    
  left: 58%;
  top: 80%;
  color: #354567;
  background: #d3e6ed;
  font: normal 42px arial, sans-serif;
  text-decoration: none;
  opacity: 0.7;
}
