.left-button {
  position: absolute;    
  left: 190px;
  top: 850px;
  color: #354567;
  background: #d3e6ed;
  font: normal 42px arial, sans-serif;
  text-decoration: none;
  opacity: 0.7;
}


.right-button {
  position: absolute;    
  left: 1120px;
  top: 850px;
  color: #354567;
  background: #d3e6ed;
  font: normal 42px arial, sans-serif;
  text-decoration: none;
  opacity: 0.7;
}